table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    /* overflow: hidden; */
}

table tr {
    margin: 10px 0;
    height: 120px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px; /*Firefox*/
    -webkit-border-radius: 5px; /*Chrome và Safary*/
}

table tr:hover {
    background-color: rgba(128, 119, 117, 0.233);
}

table td {
    padding: 10px;
}

table tr:nth-child(odd) {
    /* background-color: rgb(161, 161, 161); */
}
table tr:nth-child(even) {
    /* background-color: #f4f6fb; */
}

.home-contaier__grid-table {
    overflow-x: auto;
    padding: 20px;
}

.grid-table__image {
    min-width: 120px;
    width: 120px;
    height: 120px;
}

.grid-table__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.home-container__artist-intro {
    width: 100%;
    min-height: 340px;
    position: relative;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%), rgba(0, 0, 0, 0);
}

.home-container__desc {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 40px;
}

.artist-intro__image {
    /* position: absolute; */
    width: 240px;
    height: 240px;
}

.artist-intro__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.artist-intro__text {
    margin-left: 20px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-intro__name {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.artist-intro__name h1 {
    /* margin-top: 20px; */
    margin-right: 8px;
    font-size: 50px;
}

.artist-intro__name img {
    height: 20px;
    width: 20px;
}

.artist-intro__text span {
    /* font-style: italic; */
    font-weight: 300;
    opacity: 0.7;
    margin-bottom: 10px;
}
.artist-intro__text p {
    font-weight: 500;
}
.artist-intro__follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.artist-intro__btn-follow {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    background-color: transparent;
    border: 1px solid;
    border-color: #3399ff;
    color: #3399ff;
    cursor: pointer;
    transition: all 0.2s linear;
}
.artist-intro__btn-follow:hover{
    color: #f1f1f1;
    background-color: #3399ff;

}
.home-container__artist-list-songs {
    width: 100%;
    height: 50%;
}
