
.home-container__popular-songs,
.home-container__popular-playlists,
.home-container__popular-artists {
    flex-grow: 1;
    max-width: 100%;
}

.home-container__title {
    display: flex;
    justify-content: space-between;
}

.home-container__title p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

.home-container__see-more {
    display: flex;
    font-weight: 300;
    align-items: center;
}

.home-container__see-more i {
    margin-left: 6px;
}

.home-container__grid {
    max-width: 100%;
}

.home-container__list-items {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
    margin: 16px -16px;
}

.home-container__item {
    cursor: pointer;
    width: 20%;
    height: auto;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 0 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #3c3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s linear;
}
.home-container__item:hover {
    box-shadow: rgba(232, 110, 243, 0.3) 0px 10px 20px, rgba(232, 110, 243, 0.3) 0px 6px 6px;
    
}
.home-container__item-image {
    width: calc(100% - 32px);
    height: auto;
    border-radius: 5px;
    margin-top: 8px;
}
.home-container__item-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.home-container__item-content {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.home-container__item-content p {
    font-size: 16px;
    font-weight: 500;
}
.home-container__item-content span {
    font-size: 14px;
    line-height: 21px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}