<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Template MUSIC WEBSITE</title>
        <link rel="stylesheet" href="./index.css" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
        />
        <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
        <link
            href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="app">
            <div class="background"></div>
            <div class="menu-left">
                <div class="logo-container">
                    <div class="logo">
                        <h3>TV Music</h3>
                    </div>
                </div>

                <div class="menu-container">
                    <p>MENU</p>
                    <ul>
                        <li class="active">
                            <a href="">
                                <i class="bx bxs-home"></i> <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href=""
                                ><i class="bx bxs-microphone-alt"></i
                                ><span>Artist</span>
                            </a>
                        </li>
                        <li>
                            <a href=""
                                ><i class="bx bxs-album"></i><span>Albums</span>
                            </a>
                        </li>
                        <li>
                            <a href=""
                                ><i class="bx bxs-heart"></i
                                ><span>Favorite</span>
                            </a>
                        </li>
                        <li>
                            <a href=""
                                ><i class='bx bx-podcast' ></i><span>Podcast</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="playlist">
                    <div class="playlist-name">
                        <p>PLAYLIST</p>
                        <i class='bx bx-plus-medical'></i>
                    </div>
                    <div class="playlist-scroll">
                        <div class="playlist-item">
                            <i class='bx bxs-playlist' ></i>
                            <p>Tiktok Remix</p>
                            <i class='bx bx-trash'></i>
                        </div>
                        <div class="playlist-item">
                            <i class='bx bxs-playlist' ></i>
                            <p>Tiktok Remix</p>
                            <i class='bx bx-trash'></i>
                        </div>
                        <div class="playlist-item">
                            <i class='bx bxs-playlist' ></i>
                            <p>Songs For Kids</p>
                            <i class='bx bx-trash'></i>
                        </div>
                        <div class="playlist-item">
                            <i class='bx bxs-playlist' ></i>
                            <p>Guitar Top Hits</p>
                            <i class='bx bx-trash'></i>
                        </div>
                        <div class="playlist-item">
                            <i class='bx bxs-playlist' ></i>
                            <p>Relaxing Music</p>
                            <i class='bx bx-trash'></i>
                        </div>
                        <div class="playlist-item">
                            <i class='bx bxs-playlist' ></i>
                            <p>Hip Pop</p>
                            <i class='bx bx-trash'></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-container"></div>
            <div class="footer-container"></div>
        </div>
    </body>
</html>
