<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Template MUSIC WEBSITE</title>
        <link rel="stylesheet" href="./main.css" />
        <link rel="stylesheet" href="./login.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="app">
            <div class="background"></div>
            <!-- main content -->
            <div class="login-container">
                <div class="login-center">
                    <div class="login-box">
                        <p>Please login to continue.</p>
                        <br />
                        <div class="login-form">
                            <form>
                                <div class="login-email">
                                    <input class="login-input" type="email" placeholder="Email" />
                                </div>
                                <div class="login-password">
                                    <input class="login-input" type="password" placeholder="Password" />
                                </div>

                                <button class="login-btn" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
