.login-container {
    min-height: 100vh;
    width: 100%;
    background: rgba(34, 34, 34, 0.5);
    backdrop-filter: blur(2px);
}

.login-center {
    padding: 20px;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}

.login-box {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    margin-bottom: 60px;
    width: 360px;
    height: 400px;
}
.login-box p{
    font-size: 24px;
    text-align: center;
}
.login-input {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 14px;
    height: 50px;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    margin-bottom: 20px;
}
.login-input:hover {
    border-color: #b5b5b5;
}
.login-input:active {
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgb(50 115 220 / 25%);
}
.login-btn{
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: rgb(50, 115, 220);
}