.home-container__table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .home-container__table thead tr {
    text-align: left;
    font-weight: bold;
  }
  
  .home-container__table th,
  .home-container__table td {
    padding: 12px 15px;
  }
  
  
 